*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    position: relative;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    background: #ffffff;
    overflow: hidden;
}
.bg{
    width: 100vw;
    /* height: calc(100vw * 0.506); */
    /* height: 23.4vh; */
    height: 100vh;
    overflow: hidden;
    background-image: url(../assetes/image/每日推荐/背景.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
}
/* @media screen and (max-width:300px){
    .bg{
        background-size: 110vw auto;
    }
} */
.cover{
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
}
header{
    width: 100vw;
    /* background-color: red; */
    padding: 0.61vh 3.7vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header span{
    font-size: 1.72vh;
    color: white;
    font-weight: bold;
}
header div img{
    width: 2.21vh;
    margin-left: 0.185vh;
}
header div img:nth-child(3){
    width: 2.46vh;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.84vh 0 3.7vh;
}
nav{
    display: flex;
    flex-direction: column;
    padding: 0 2.46vh 0 3.07vh;
    margin-top: 3.07vh;
    /* justify-content: center; */
}
nav>p:first-of-type{
    margin-left: 0.86vh;
}
nav>p:first-of-type span:nth-child(1){
    font-size: 4.43vh;
    color: white;
}
nav>p:first-of-type span:nth-child(2){
    font-size: 2.21vh;
    color: white;
}
nav>p:nth-child(2){
    width: 14.77vh;
    height: 3.4vh;
    background-color: #fff;
    border-radius: 4rem;
    text-align: center;
    line-height: 3.4vh;
    font-size: 1.6vh;
    color: black;
}
nav>p:nth-child(2) span:nth-child(2){
    display: inline-block;
    width: 5.78vh;
    height: 2.09vh;
    background-color: #000;
    border-radius: 4rem;
    font-size: 1.47vh;
    color: white;
    text-align: center;
    line-height: 2.09vh;
    margin-left: 0.61vh;
    position: relative;
    top: -.05vh;
}
nav>div{
    align-self: flex-end;
}
nav>div a{
    display: flex;
    align-items: center;
}
nav>div img{
    width: 2.46vh;
}
nav>div img:first-of-type{
    position: relative;
    left: 0.61vh;
    z-index: 2;
}
nav>div img:nth-child(3){
    position: relative;
    left: -0.61vh;
    z-index: 2;
}
nav>div div{
    align-self: flex-end;
}
nav>div div img{
    transform: rotate(180deg);
    width: 1.23vh;
}
main{
    margin-top: 1.23vh;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
main .all>div:first-of-type div{
    width: 1.97vh;
    height: 1.97vh;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 1.97vh;
}
main .all>div:first-of-type div img{
    width: 0.86vh;
}
main .all>div:first-of-type span{
    font-size: 1.72vh;
    color: #333;
}
main .all>div:nth-of-type(2) img{
    width: 1.6vh;
}
main .all>div:nth-of-type(2) span{
    font-size: 1.47vh;
    color: #333;
}
main .all{
    padding: 1.23vh 2.46vh 0 1.84vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .all>div:first-of-type a{
    display: flex;
}
main .all>div:first-of-type a div{
    margin-right: 1.23vh;
}
main .all>div:nth-of-type(2) a span{
    margin-left: 0.61vh;
}
main .song{
    padding: 1.23vh 2.46vh 0 1.84vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .song>div:nth-of-type(1) a{
    display: flex;
    /* align-items: center; */
}
main .song>div:nth-of-type(1) a div{
    align-self: flex-end;
    margin-left: 1.23vh;
}
main .song>div:nth-of-type(2) a{
    display: flex;
}
main .song>div:nth-of-type(1) a img{
    width: 5.78vh;
}
main .song>div:nth-of-type(1) a div p:nth-of-type(1){
    font-size: 1.72vh;
    color: #333;
}
main .song>div:nth-of-type(1) a div p:nth-of-type(2){
    margin-top: 0.49vh;
    font-size: 1.47vw;
}
main .song>div:nth-of-type(1) a div p:nth-of-type(2) span:nth-of-type(1){
    display: inline-block;
    width: 4.31vh;
    height: 1.72vh;
    border: 1px solid red;
    color: red;
    text-align: center;
    line-height: 1.72vh;
    border-radius: .5rem;
    margin-right: 0.61vh;
}
main .song>div:nth-of-type(1) a div p:nth-of-type(2) span:last-of-type{
    color: #999;
    display: inline;
    border: none;
}
main .song>div:nth-of-type(2) a div:nth-of-type(1){
    width: 1.97vh;
    height: 1.97vh;
    border: 1px solid #666666;
    border-radius: 50%;
    text-align: center;
    line-height: 1.97vh;
    position: relative;
    top: 0.18vh;
}
main .song>div:nth-of-type(2) a div:nth-of-type(1) img{
    width: 0.86vh;
}
main .song>div:nth-of-type(2) a div:nth-of-type(2) img{
    transform: rotate(90deg);
    width: 2.21vh;
    margin-left: 1.84vh;
}
main .song{
    margin-bottom: 1.84vh;
}