<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主播电台</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/主播电台.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <a href="../views/发现.html"><img src="../assetes/image/排行榜/箭头.png" alt=""></a>
        </div>
        <div>
            <span>主播电台</span>
        </div>
        <div>
            <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
        </div>
    </section>
    <main>
        <section class="hear">
            <h1>听听 &gt;</h1>
            <ul>
                <li>
                    <a href="../views/歌曲播放.html">
                        <img src="../assetes/image/主播电台/听听1.png" alt="">
                        <p>时光为什么流逝的这么快？</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/主播电台/听听2.png" alt="">
                        <p>遇见温暖的声音，Ta在哪？</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/主播电台/听听3.png" alt="">
                        <p>每天叫你起床是什么？</p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="tv">
            <h1>电台推荐 &gt;</h1>
            <ul>
                <li>
                    <a href="../views/歌曲播放.html">
                        <img src="../assetes/image/主播电台/电台推荐1.png" alt="">
                        <p>听完我的歌，愿你快乐</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/主播电台/电台推荐2.png" alt="">
                        <p>你一定会爱上这甜美的声音</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/主播电台/电台推荐3.png" alt="">
                        <p>春暖秋去，海棠花什么时候开？</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../assetes/image/主播电台/电台推荐4.png" alt="">
                        <p>用一首歌的时间轻松学英文</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/主播电台/电台推荐5.png" alt="">
                        <p>一颗大树的成长，如何长大</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/主播电台/电台推荐6.png" alt="">
                        <p>我们正式回归舞台，迎来春天</p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="new">
            <div class="new-top">
                <h1>创作 | 翻唱 &gt;</h1>
                <div>
                    <a href="../views/歌曲播放.html">
                        <span>播放全部</span>
                    </a>
                </div>
            </div>
            <div class="new-ct">
                <div class="new-box">
                    <div>
                        <a href="#"><img src="../assetes/image/主播电台/创造1.png" alt=""></a>
                        <div>
                            <p><a href="#">时光流逝</a></p>
                            <div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/头像1.png" alt="">
                                        <span>Gfriend</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/耳机.png" alt="">
                                        <span>170.7万</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <div>
                                <img src="../assetes/image/主播电台/播放箭头.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="new-box">
                    <div>
                        <a href="#"><img src="../assetes/image/主播电台/创造2.png" alt=""></a>
                        <div>
                            <p><a href="#">玻璃珠</a></p>
                            <div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/头像2.png" alt="">
                                        <span>不够的不够</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/耳机.png" alt="">
                                        <span>180.7万</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <div>
                                <img src="../assetes/image/主播电台/播放箭头.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="new-box">
                    <div>
                        <a href="#"><img src="../assetes/image/主播电台/创造3.png" alt=""></a>
                        <div>
                            <p><a href="#">爸爸妈妈</a></p>
                            <div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/头像3.png" alt="">
                                        <span>黄可可</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/耳机.png" alt="">
                                        <span>100.7万</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <div>
                                <img src="../assetes/image/主播电台/播放箭头.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="new-box">
                    <div>
                        <a href="#"><img src="../assetes/image/主播电台/创造4.png" alt=""></a>
                        <div>
                            <p><a href="#">剑伤</a></p>
                            <div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/头像4.png" alt="">
                                        <span>muzi</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/耳机.png" alt="">
                                        <span>1170.7万</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <div>
                                <img src="../assetes/image/主播电台/播放箭头.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="new-box">
                    <div>
                        <a href="#"><img src="../assetes/image/主播电台/创造5.png" alt=""></a>
                        <div>
                            <p><a href="#">抓紧我的手</a></p>
                            <div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/头像5.png" alt="">
                                        <span>Apink</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="../assetes/image/主播电台/耳机.png" alt="">
                                        <span>160.0万</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <div>
                                <img src="../assetes/image/主播电台/播放箭头.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>