<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>云村</title>
    <link rel="stylesheet" href="../css/云村.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_m36hagnu7n9/iconfont.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_hifbwlmkjlr/iconfont.css">
    <link rel="stylesheet" href="../assetes/iconfont/云村/font_aofb418ns5/iconfont.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section id="main"></section>
    <section id="follow"></section>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="#"><img src="../assetes/image/云村/加好友.png" alt=""></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#main">
                            <sapn>广场</sapn>
                        </a>
                    </li>
                    <li>
                        <a href="#follow">
                            <sapn>关注</sapn>
                            <sup>99+</sup>
                        </a>
                    </li>
                </ul>
            </nav>
            <div>
                <a href="../views/歌曲播放.html"><img src="../assetes/image/云村/头像.png" alt=""></a>
            </div>
        </section>
        <section class="input">
            <div>
                <a href="../views/搜索.html">
                    <i class="iconfont icon-fangdajing"></i>
                    <input type="text" placeholder="有哪些前奏适合当铃声">
                </a>
            </div>
        </section>
    </section>
    <main>
        <div class="bgc">
            <div>
                <p>云村热评墙&nbsp;&nbsp;&gt;</p>
                <p>木子2020，今日热评墙已更新，来围观吧！</p>
            </div>
            <div>
                <p>Jul.</p>
                <p>14</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="../views/歌曲播放.html">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村1.png" alt="">
                        </div>
                        <p>耗时爆肝超然踩点！？算了你们还是听听吧</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像1.png" alt="">
                                <span>木子酱</span>
                            </div>
                            <div>
                                <span>7011赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村2.png" alt="">
                        </div>
                        <p>我今天看到她了，她剪了头发，眼神好空洞</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像2.png" alt="">
                                <span>Gfiend</span>
                            </div>
                            <div>
                                <span>123赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村3.png" alt="">
                        </div>
                        <p>耗时爆肝超然踩点！？算了你们还是听听吧</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像3.png" alt="">
                                <span>幸福天空</span>
                            </div>
                            <div>
                                <span>7011赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村4.png" alt="">
                        </div>
                        <p>我今天看到她了，她剪了头发，眼神好空洞</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像4.png" alt="">
                                <span>AX</span>
                            </div>
                            <div>
                                <span>123赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村1.png" alt="">
                        </div>
                        <p>耗时爆肝超然踩点！？算了你们还是听听吧</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像1.png" alt="">
                                <span>木子酱</span>
                            </div>
                            <div>
                                <span>7011赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村2.png" alt="">
                        </div>
                        <p>我今天看到她了，她剪了头发，眼神好空洞</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像2.png" alt="">
                                <span>Gfiend</span>
                            </div>
                            <div>
                                <span>123赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村3.png" alt="">
                        </div>
                        <p>耗时爆肝超然踩点！？算了你们还是听听吧</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像3.png" alt="">
                                <span>幸福天空</span>
                            </div>
                            <div>
                                <span>7011赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <div>
                            <img src="../assetes/image/云村/云村4.png" alt="">
                        </div>
                        <p>我今天看到她了，她剪了头发，眼神好空洞</p>
                        <div>
                            <div>
                                <img src="../assetes/image/云村/头像4.png" alt="">
                                <span>AX</span>
                            </div>
                            <div>
                                <span>123赞</span>
                                <img src="../assetes/image/云村/更多.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </main>
    <section class="follow">
        <aside>
            <div>
                <a href="../views/发动态.html">
                    <i class="iconfont icon-fabu"></i>
                    <span>发动态</span>
                </a>
            </div>
            <div>
                <a href="../views/发视频.html">
                    <i class="iconfont icon-fashipin"></i>
                    <span>发视频</span>
                </a>
            </div>
        </aside>
        <h1></h1>
        <div class="cloud">
            <div>
                <div>
                    <img src="../assetes/image/云村/铃铛.png" alt="">
                    <span>99+</span>
                </div>
                <span>我的云圈</span>
            </div>
            <div>
                <span>&gt;</span>
            </div>
        </div>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>发布Mlog：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/云村/动态1.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/云村/动态2-1.png" alt="">
                <img src="../assetes/image/云村/动态2-2.png" alt="">
                <img src="../assetes/image/云村/动态2-3.png" alt="">
                <img src="../assetes/image/云村/动态2-4.png" alt="">
                <img src="../assetes/image/云村/动态2-5.png" alt="">
                <img src="../assetes/image/云村/动态2-6.png" alt="">
                <img src="../assetes/image/云村/动态2-7.png" alt="">
                <img src="../assetes/image/云村/动态2-8.png" alt="">
                <img src="../assetes/image/云村/动态2-9.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>发布Mlog：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/云村/动态3.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/云村/动态4-1.png" alt="">
                <img src="../assetes/image/云村/动态4-2.png" alt="">
                <img src="../assetes/image/云村/动态4-3.png" alt="">
                <img src="../assetes/image/云村/动态4-4.png" alt="">
                <img src="../assetes/image/云村/动态4-5.png" alt="">
                <img src="../assetes/image/云村/动态4-6.png" alt="">
                <img src="../assetes/image/云村/动态4-7.png" alt="">
                <img src="../assetes/image/云村/动态4-8.png" alt="">
                <img src="../assetes/image/云村/动态4-9.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
    </section>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
    <footer>
        <section class="footer-ct">
            <ul>
                <a href="../views/发现.html"><li><img src="../assetes/image/发现黑.png" alt=""></li><span>发现</span></a>
                <a href="../views/视频.html"><li><i class="iconfont icon-shipin"></i></li><span>视频</span></a>
                <a href="../views/我的已登录.html"><li><img src="../assetes/image/我的.png" alt=""></li><span>我的</span></a>
                <a href="../views/云村.html"><li><img src="../assetes/image/云村白.png" alt=""></li><span>云村</span></a>
                <a href="../views/账号已登录.html"><li><img src="../assetes/image/账号.png" alt=""></li><span>账号</span></a>
            </ul>
        </section>
    </footer>
</body>
</html>