<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>关注新歌</title>
    <link rel="stylesheet" href="../css/关注新歌.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="../views/我的已登录.html"><img src="../assetes/image/排行榜/箭头.png" alt=""></a>
            </div>
            <div>
                <span>我的收藏</span>
            </div>
            <div>
                <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
            </div>
        </section>
    </section>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <sapn>歌曲</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>MV</sapn>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="top">
            <a href="../views/歌曲播放.html">
                <div>
                    <img src="../assetes/image/关注新歌/视频箭头.png" alt="">
                </div>
                <span>播放全部（共13首）</span>
            </a>
        </section>
        <section class="content">
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd1.png" alt="">
                    </div>
                    <div>
                        <p>Gfriend</p>
                        <p>2021年12月1日上线专辑美好时光</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd2.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd3.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>木子-鱼子（完整版）</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd4.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>独家</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd5.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>独家</span>木子-鱼子（完整版）</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd6.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd7.png" alt="">
                    </div>
                    <div>
                        <p>生活</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd8.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>木子-鱼子（完整版）</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd9.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd10.png" alt="">
                    </div>
                    <div>
                        <p>Lovelyz</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd11.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd12.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/cd13.png" alt="">
                    </div>
                    <div>
                        <p>夏天的雨</p>
                        <p><span>SQ</span>Gfriend-回归舞台</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/关注新歌/更多.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
</body>
</html>