<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>云村</title>
    <link rel="stylesheet" href="../css/发布成功.css">
    <link rel="stylesheet" href="../assetes/iconfont/云村/font_aofb418ns5/iconfont.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section id="main"></section>
    <section id="follow"></section>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="../views/云村.html#follow"><img src="../assetes/image/箭头.png" alt=""></a>
            </div>
            <div>
                <span>动态</span>
            </div>
            <div>
                <a href="../views/歌曲播放.html"><img src="../assetes/image/云村/头像.png" alt=""></a>
            </div>
        </section>
    </section>
    <section class="follow">
        <aside>
            <div>
                <a href="../views/发动态.html">
                    <i class="iconfont icon-fabu"></i>
                    <span>发动态</span>
                </a>
            </div>
            <div>
                <a href="../views/发视频.html">
                    <i class="iconfont icon-fashipin"></i>
                    <span>发视频</span>
                </a>
            </div>
        </aside>
        <h1></h1>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>发布Mlog：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/发布成功/发布成功1.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/云村/动态2-1.png" alt="">
                <img src="../assetes/image/云村/动态2-2.png" alt="">
                <img src="../assetes/image/云村/动态2-3.png" alt="">
                <img src="../assetes/image/云村/动态2-4.png" alt="">
                <img src="../assetes/image/云村/动态2-5.png" alt="">
                <img src="../assetes/image/云村/动态2-6.png" alt="">
                <img src="../assetes/image/云村/动态2-7.png" alt="">
                <img src="../assetes/image/云村/动态2-8.png" alt="">
                <img src="../assetes/image/云村/动态2-9.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>发布Mlog：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/云村/动态3.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="admin">
                <div>
                    <img src="../assetes/image/云村/关注头像.png" alt="">
                </div>
                <div>
                    <p>
                        <span>木小雅 OLib</span>
                        <span>CVIP</span>
                        <span>：</span>
                    </p>
                    <p>
                        <span>12月21日</span>
                    </p>
                </div>
            </div>
            <p>最美好的期待，遇见你们，我最喜欢的青春歌曲，陪伴我的成长,Gfriend!!!</p>
            <div>
                <img src="../assetes/image/云村/动态4-1.png" alt="">
                <img src="../assetes/image/云村/动态4-2.png" alt="">
                <img src="../assetes/image/云村/动态4-3.png" alt="">
                <img src="../assetes/image/云村/动态4-4.png" alt="">
                <img src="../assetes/image/云村/动态4-5.png" alt="">
                <img src="../assetes/image/云村/动态4-6.png" alt="">
                <img src="../assetes/image/云村/动态4-7.png" alt="">
                <img src="../assetes/image/云村/动态4-8.png" alt="">
                <img src="../assetes/image/云村/动态4-9.png" alt="">
            </div>
            <div>
                <div>
                    <p>
                        <i class="iconfont icon-fenxiang"></i>
                        <span>7</span>
                    </p>
                    <p>
                        <img src="../assetes/image/云村/评论.png" alt="">
                        <span>500</span>
                    </p>
                    <p>
                        <i class="iconfont icon-dianzan"></i>
                        <span>99</span>
                    </p>
                </div>
                <div>
                    <img src="../assetes/image/云村/更多.png" alt="">
                </div>
            </div>
        </section>
    </section>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
</body>
</html>