<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>发现</title>
    <link rel="stylesheet" href="../css/发现.css">
    <link rel="stylesheet" href="../assetes/iconfont/发现/font_xfbjz928ld9/iconfont.css">
    <link rel="stylesheet" href="../assetes/iconfont/发现/font_m36hagnu7n9/iconfont.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_hifbwlmkjlr/iconfont.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <a href="#"><i class="iconfont icon-maikefeng"></i></a>
        </div>
        <div>
            <i class="iconfont icon-fangdajing"></i>
            <a href="../views/搜索.html">
                <input type="text" placeholder="搜最近很火哦">
            </a>
        </div>
        <div>
            <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
        </div>
    </section>
    <main>
        <div class="carousel">
            <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/轮播图.png" alt=""></a>
            <ul>
                <a href="#">
                    <li></li>
                </a>
                <a href="#">
                    <li></li>
                </a>
                <a href="#">
                    <li></li>
                </a>
                <a href="#">
                    <li></li>
                </a>
            </ul>
        </div>
        <ul>
            <li><a href="../views/每日推荐.html"><i class="iconfont icon-rili"></i></a><span>每日推荐</span></li>
            <li><a href="../views/歌单广场.html"><img src="../assetes/image/发现/歌单.png" alt=""></a><span>歌单</span></li>
            <li><a href="../views/排行榜.html"><img src="../assetes/image/发现/排行榜.png" alt=""></a><span>排行榜</span></li>
            <li><a href="../views/主播电台.html"><img src="../assetes/image/发现/电台.png" alt=""></a><span>电台</span></li>
            <li><a href="../views/直播.html"><i class="iconfont icon-zhibo"></i></a><span>直播</span></li>
            <li><a href="#"><img src="../assetes/image/发现/火前留名.png" alt=""></a><span>火前留名</span></li>
            <li><a href="#"><i class="iconfont icon-tianchongxing-"></i></a><span>畅聊</span></li>
        </ul>
        <div class="selected">
            <div class="selected-ct">
                <h1>你的精选歌单站</h1>
                <a href="../views/精选歌单站.html"><span>查看更多</span></a>
            </div>
            <div class="selected-img">
                <div>
                    <img src="../assetes/image/发现/精选1.png" alt="">
                    <p>乘风破浪会有时，唱歌是一种怎么…</p>
                </div>
                <div>
                    <img src="../assetes/image/发现/精选2.png" alt="">
                    <p>中国偶像黄金年代，记忆是花香</p>
                </div>
                <div>
                    <img src="../assetes/image/发现/精选3.png" alt="">
                    <p>谁能凭爱意私有富赏之上的心愿</p>
                </div>
                <div>
                    <img src="../assetes/image/发现/精选4.png" alt="">
                    <p>中国偶像黄金年代，记忆是花香</p>
                </div>
            </div>
        </div>
        <div class="story">
            <div class="story-ct">
                <h1>他们把故事唱成了歌曲</h1>
                <img src="../assetes/image/发现/黑箭头.png" alt="">
                <a href="../views/歌曲播放.html"><span>播放全部</span></a>
            </div>
            <div class="story-img">
                <div>
                    <div>
                        <img src="../assetes/image/发现/故事1.png" alt="">
                    </div>
                    <div>
                        <p>
                            <span>夏天的风</span><span>-木子酱</span>
                        </p>
                        <p>
                            <span>SQ</span><span>永远记得你牵着我手笑的样子</span>
                        </p>
                    </div>
                    <div>
                        <img src="../assetes/image/发现/红箭头.png" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/发现/故事2.png" alt="">
                    </div>
                    <div>
                        <p>
                            <span>玻璃杯</span><span>-Gfriend</span>
                        </p>
                        <p>
                            <span>SQ</span><span>一首青春活力的歌曲</span>
                        </p>
                    </div>
                    <div>
                        <img src="../assetes/image/发现/红箭头.png" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/发现/故事3.png" alt="">
                    </div>
                    <div>
                        <p>
                            <span>我的快乐</span><span>-银河</span>
                        </p>
                        <p>
                            <span>SQ</span><span>一首无限悲伤的歌曲</span>
                        </p>
                    </div>
                    <div>
                        <img src="../assetes/image/发现/红箭头.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="selected">
            <div class="selected-ct">
                <h1>饮一碗民谣，不醉不归</h1>
                <a href="#"><span>查看更多</span></a>
            </div>
            <div class="selected-img">
                <div>
                    <img src="../assetes/image/发现/民谣1.png" alt="">
                    <p>今天和喜欢的人说话了么</p>
                </div>
                <div>
                    <img src="../assetes/image/发现/民谣2.png" alt="">
                    <p>最懂你的华语歌曲推荐</p>
                </div>
                <div>
                    <img src="../assetes/image/发现/民谣3.png" alt="">
                    <p>令人心动的宝藏歌曲，每日更新</p>
                </div>
                <div>
                    <img src="../assetes/image/发现/民谣4.png" alt="">
                    <p>DNF背景音乐下载（新旧版本都有）</p>
                </div>
            </div>
        </div>
        <div class="story">
            <div class="story-ct">
                <h1>专属说唱的独特态度</h1>
                <img src="../assetes/image/发现/黑箭头.png" alt="">
                <a href="../views/歌曲播放.html"><span>播放全部</span></a>
            </div>
            <div class="story-img">
                <div>
                    <div>
                        <img src="../assetes/image/发现/说唱1.png" alt="">
                    </div>
                    <div>
                        <p>
                            <span>Tell Me</span><span>-木子酱</span>
                        </p>
                        <p>
                            <span>独家</span><span>最性感的噪音，最灵动的节奏</span>
                        </p>
                    </div>
                    <div>
                        <img src="../assetes/image/发现/红箭头.png" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/发现/说唱2.png" alt="">
                    </div>
                    <div>
                        <p>
                            <span>她不是</span><span>-Gfriend</span>
                        </p>
                        <p>
                            <span>SQ</span><span>他们谁不对，我是对的</span>
                        </p>
                    </div>
                    <div>
                        <img src="../assetes/image/发现/红箭头.png" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../assetes/image/发现/说唱3.png" alt="">
                    </div>
                    <div>
                        <p>
                            <span>独行侠</span><span>-Tina</span>
                        </p>
                        <p>
                            <span>独家</span><span>在海底下飞行，我打破所有的规则</span>
                        </p>
                    </div>
                    <div>
                        <img src="../assetes/image/发现/红箭头.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
    <footer>
        <section class="footer-ct">
            <ul>
                <a href="../views/发现.html"><li><img src="../assetes/image/发现.png" alt=""></li><span>发现</span></a>
                <a href="../views/视频.html"><li><i class="iconfont icon-shipin"></i></li><span>视频</span></a>
                <a href="../views/我的已登录.html"><li><img src="../assetes/image/我的.png" alt=""></li><span>我的</span></a>
                <a href="../views/云村.html"><li><img src="../assetes/image/云村.png" alt=""></li><span>云村</span></a>
                <a href="../views/账号已登录.html"><li><img src="../assetes/image/账号.png" alt=""></li><span>账号</span></a>
            </ul>
        </section>
    </footer>
</body>
</html>