<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>发视频</title>
    <link rel="stylesheet" href="../css/发视频.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="../views/云村.html#follow">
                    <span>取消</span>
                </a>
            </div>
            <div>
                <span>最近项目</span>
                <img src="../assetes/image/发视频/箭头.png" alt="">
            </div>
            <div>
                <span>&emsp;&emsp;</span>
            </div>
        </section>
    </section>
    <main>
        <ul>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
            <a href="../views/编辑完成.html">
                <li>
                    <div>
                        <div><img src="../assetes/image/发视频/视频箭头.png" alt=""></div>
                        <span>15:00</span>
                    </div>
                </li>
            </a>
        </ul>
    </main>
</body>
</html>