<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的收藏</title>
    <link rel="stylesheet" href="../css/我的收藏.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="../views/我的已登录.html"><img src="../assetes/image/排行榜/箭头.png" alt=""></a>
            </div>
            <div>
                <span>我的收藏</span>
            </div>
            <div>
                <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
            </div>
        </section>
    </section>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <sapn>专辑</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>歌手</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>主播</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>视频</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>云村</sapn>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="top">
            <div>
                <a href="#">
                    <div>
                        <img src="../assetes/image/我的收藏/收藏1.png" alt="">
                    </div>
                    <p>我的数字专辑</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <div>
                        <img src="../assetes/image/我的收藏/收藏2.png" alt="">
                    </div>
                    <p>Gfriend音乐专辑</p>
                </a>
            </div>
        </section>
        <section class="bottom">
            <p>你可能感兴趣&nbsp;&gt;</p>
            <ul>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐1.png" alt="">
                        </div>
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐2.png" alt="">
                        </div>
                        <p>今天和喜欢的人说话了么</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐3.png" alt="">
                        </div>
                        <p>最懂你的华语歌曲推荐</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐4.png" alt="">
                        </div>
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐1.png" alt="">
                        </div>
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐4.png" alt="">
                        </div>
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>