<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的已登录</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../assetes/iconfont/font_hifbwlmkjlr/iconfont.css">
    <link rel="stylesheet" href="../css/我的已登录.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G.png" alt="">
            <img src="../assetes/image/wifi.png" alt="">
            <img src="../assetes/image/电池.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <div>
                <img src="../assetes/image/我的已登录/头像.png" alt="">
                <div>
                    <p>木子酱</p>
                    <p><span>VIP</span><span>Lv.0</span></p>
                </div>
            </div>
            <div>
                <a href="#">
                    <p>开通黑胶VIP &gt;</p>
                </a>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    <a href="../views/本地音乐.html">
                        <div>
                            <img src="../assetes/image/我的已登录/本地音乐箭头.png" alt="">
                        </div>
                        <p>本地音乐</p>
                    </a>
                </li>
                <li>
                    <a href="../views/我的电台.html">
                        <div>
                            <img src="../assetes/image/我的已登录/我的电台.png" alt="">
                        </div>
                        <p>我的电台</p>
                    </a>
                </li>
                <li>
                    <a href="../views/我的收藏.html">
                        <div><img src="../assetes/image/我的已登录/我的收藏.png" alt=""></div>
                        <p>我的收藏</p>
                    </a>
                </li>
                <li>
                    <a href="../views/关注新歌.html">
                        <div><img src="../assetes/image/我的已登录/关注新歌.png" alt=""></div>
                        <p>关注新歌</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <section class="my">
            <div>
                <h1>我的音乐</h1>
                <a href="#">
                    <span>更多&gt;&gt;</span>
                </a>
            </div>
            <div>
                <a href="../views/我的收藏.html">
                    <div>
                        <img src="../assetes/image/我的已登录/我喜欢的音乐.png" alt="">
                        <span>我喜欢的音乐</span>
                        <p><img src="../assetes/image/我的已登录/心动模式箭头.png" alt=""><span>心动模式</span></p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <img src="../assetes/image/我的已登录/私人fm.png" alt="">
                        <span>私人FM</span>
                        <span>听点新鲜的</span>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <p>推荐</p>
                        <img src="../assetes/image/我的已登录/驾驶模式.png" alt="">
                        <span>驾驶模式</span>
                        <span>开车安全模式</span>
                    </div>
                </a>
            </div>
        </section>
        <section class="lately">
            <div>
                <h1>我的音乐</h1>
                <a href="#">
                    <span>更多&gt;&gt;</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <div class="bgi"></div>
                            <div class="bgc">
                                <div>
                                    <img src="../assetes/image/我的已登录/播放箭头.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <span>全部已播放歌曲</span>
                            <span>9首</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <div class="bgi"></div>
                            <div class="bgc">
                                <div>
                                    <img src="../assetes/image/我的已登录/播放箭头.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>视频:我的世界只有一个基岩…</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <div class="bgi"></div>
                            <div class="bgc">
                                <div>
                                    <img src="../assetes/image/我的已登录/播放箭头.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>歌单：【华语劲爆音乐】</p>
                            <p>继续播放</p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section class="recommend">
            <h1>推荐歌单</h1>
            <ul>
                <li>
                    <a href="../views/搜索.html">
                        <div>
                            <span>热歌榜</span>
                        </div>
                        <div>
                            <p>云音乐热歌榜</p>
                            <p>本周最热的歌曲</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>新歌榜</span>
                        </div>
                        <div>
                            <p>云音乐新歌榜</p>
                            <p>本周最热的歌曲</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/我的已登录/推荐歌单1.png" alt="">
                        </div>
                        <div>
                            <p>甜甜的歌单/你是心动的具象化</p>
                            <p>本周最热的歌曲</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/我的已登录/推荐歌单2.png" alt="">
                        </div>
                        <div>
                            <p>洗澡时听的歌单哈哈哈哈哈</p>
                            <p>本周热门收听</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/我的已登录/推荐歌单3.png" alt="">
                        </div>
                        <div>
                            <p>单单为你心有独钟</p>
                            <p>本周热门分享</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/我的已登录/推荐歌单4.png" alt="">
                        </div>
                        <div>
                            <p>情不知所起一往而深</p>
                            <p>本周热门收听</p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
    <footer>
        <section class="footer-ct">
            <ul>
                <a href="../views/发现.html"><li><img src="../assetes/image/发现黑.png" alt=""></li><span>发现</span></a>
                <a href="../views/视频.html"><li><i class="iconfont icon-shipin"></i></li><span>视频</span></a>
                <a href="../views/我的已登录.html"><li><img src="../assetes/image/我的白.png" alt=""></li><span>我的</span></a>
                <a href="../views/云村.html"><li><img src="../assetes/image/云村.png" alt=""></li><span>云村</span></a>
                <a href="../views/账号已登录.html"><li><img src="../assetes/image/账号.png" alt=""></li><span>账号</span></a>
            </ul>
        </section>
    </footer>
</body>
</html>