<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的电台</title>
    <link rel="stylesheet" href="../css/我的电台.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="../views/我的已登录.html"><img src="../assetes/image/排行榜/箭头.png" alt=""></a>
            </div>
            <div>
                <span>我的电台</span>
            </div>
            <div>
                <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
            </div>
        </section>
    </section>
    <main>
        <section class="top">
            <p>我订阅的电台（2）</p>
            <div>
                <a href="../views/歌曲播放.html">
                    <div>
                        <div>
                            <img src="../assetes/image/我的电台/电台1.png" alt="">
                        </div>
                        <div>
                            <p>云边有个小卖铺子</p>
                            <p>这世上所有的温柔都值得被认真对待</p>
                            <p>by&nbsp;Gfriend</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="../views/歌曲播放.html">
                    <div>
                        <div>
                            <img src="../assetes/image/我的电台/电台2.png" alt="">
                        </div>
                        <div>
                            <p>Gfriend专属电台</p>
                            <p>要好好的生活，冷静一下</p>
                            <p>by&nbsp;Gfriend</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section class="bottom">
            <p>为你推荐&nbsp;&gt;</p>
            <ul>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐1.png" alt="">
                        </div>
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐2.png" alt="">
                        </div>
                        <p>今天和喜欢的人说话了么</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐3.png" alt="">
                        </div>
                        <p>最懂你的华语歌曲推荐</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐4.png" alt="">
                        </div>
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐1.png" alt="">
                        </div>
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
                <li>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/我的电台/推荐4.png" alt="">
                        </div>
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>