<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>排行榜</title>
    <link rel="stylesheet" href="../css/排行榜.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <a href="../views/发现.html"><img src="../assetes/image/排行榜/箭头.png" alt=""></a>
        </div>
        <div>
            <span>排行榜</span>
        </div>
        <div>
            <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
        </div>
    </section>
    <main>
        <section class="hot">
            <h1>榜单推荐</h1>
            <ul>
                <li>
                    <a href="../views/搜索.html">
                        <div>
                            <p>硬地原创</p>
                            <p>音乐榜</p>
                            <p>每月更新</p>
                        </div>
                        <p>硬地原创音乐榜</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>Hot榜</p>
                            <p>每周一更新</p>
                        </div>
                        <p>Hot音乐榜</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>民谣榜</p>
                            <p>每周五更新</p>
                        </div>
                        <p>云音乐民谣榜</p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="gm">
            <h1>官方榜</h1>
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <p>飙升榜</p>
                            <p>每天更新</p>
                        </div>
                    </a>
                    <section>
                        <p><a href="../views/歌曲播放.html">1.时光流逝-Gfriend</a></p>
                        <p><a href="#">2.你说爱情啊-刘宇宁</a></p>
                        <p><a href="#">3.无限-周深</a></p>
                    </section>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>新歌榜</p>
                            <p>每天更新</p>
                        </div>
                    </a>
                    <section>
                        <p><a href="#">1.玻璃珠-Gfriend</a></p>
                        <p><a href="#">2.爱的存在-卢卢快闭嘴</a></p>
                        <p><a href="#">3.烟花易冷（Live）-周深</a></p>
                    </section>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>新歌榜</p>
                            <p>每周四更新</p>
                        </div>
                    </a>
                    <section>
                        <p><a href="#">1.海底-一只榴莲</a></p>
                        <p><a href="#">2.丢了你-宝宝</a></p>
                        <p><a href="#">3.烟花易冷（Live）-周深</a></p>
                    </section>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>原创榜</p>
                            <p>每周四更新</p>
                        </div>
                    </a>
                    <section>
                        <p><a href="#">1.理想-Gfriend</a></p>
                        <p><a href="#">2.planet-日语歌手</a></p>
                        <p><a href="#">3.丢了你-宝宝</a></p>
                    </section>
                </li>
            </ul>
        </section>
        <section class="more">
            <h1>更多榜单</h1>
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <span>赞赏榜</span>
                        </div>
                        <p>赞赏榜</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>歌手榜</span>
                        </div>
                        <p>歌手榜</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>MV榜</span>
                        </div>
                        <p>MV榜</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <span>乡村音乐榜</span>
                        </div>
                        <p>乡村音乐榜</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>电影MV榜</span>
                        </div>
                        <p>电影MV榜</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>KTV麦霸榜</span>
                        </div>
                        <p>KTV麦霸MV榜</p>
                    </a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>