<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>搜索有结果</title>
    <link rel="stylesheet" href="../css/搜索有结果.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_m36hagnu7n9/iconfont.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <a href="../views/发现.html"><img src="../assetes/image/搜索有结果/左箭头.png" alt=""></a>
        </div>
        <div>
            <a href="../views/搜索.html">
                <i class="iconfont icon-fangdajing"></i>
                <input type="text" placeholder="时光流逝">
            </a>
            <a href="../views/搜索.html"><img src="../assetes/image/搜索有结果/叉叉.svg" alt=""></a>
        </div>
    </section>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <sapn>综合</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>单曲</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>云村</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>歌单</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>歌手</sapn>
                </a>
            </li>
            <li>
                <a href="#">
                    <sapn>专辑</sapn>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="top">
            <p>你可能感兴趣</p>
            <a href="../views/歌曲播放.html">
                <div class="top-ct">
                    <div>
                        <img src="../assetes/image/搜索有结果/兴趣.png" alt="">
                        <div>
                            <p>歌手：Gfriend</p>
                            <p>粉丝：547.3万歌曲：110专辑：35</p>
                        </div>
                    </div>
                    <p>&gt;</p>
                </div>
            </a>
        </div>
        <div class="cloud">
            <a href="#"><span>来逛逛TA的云圈&nbsp;&nbsp;&nbsp;&gt;</span></a>
        </div>
        <section>
            <p>单曲</p>
            <!-- 喇叭 -->
            <a href="../views/歌曲播放.html">
                <div class="horn">
                    <div>
                        <div>
                            <img src="../assetes/image/搜索有结果/喇叭.png" alt="">
                        </div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>SQ</span><span>GFriend-银河</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>GFriend-艺琳</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>GFriend-艺琳</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="song">
                    <div>
                        <div>
                            <p>时光流逝</p>
                            <p><span>原创</span><span>翻唱-木子酱</span></p>
                        </div>
                    </div>
                    <div>
                        <img src="../assetes/image/搜索有结果/mv.png" alt="">
                        <img src="../assetes/image/搜索有结果/更多.png" alt="">
                    </div>
                </div>
            </a>
        </section>
    </main>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
</body>
</html>