<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/搜索.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_m36hagnu7n9/iconfont.css">
    <title>搜索</title>
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="head">
        <a href="../views/搜索有结果.html">
            <i class="iconfont icon-fangdajing"></i>
            <div>
                <input type="text" placeholder="时光流逝">
            </div>
        </a>
        <a href="../views/发现.html"><span>取消</span></a>
        <div>
            <a href="../views/账号已登录.html"><img src="../assetes/image/搜索/账号.png" alt=""></a>
        </div>
    </section>
    <main>
        <h1>热搜榜</h1>
        <ul>
            <li>
                <a href="../views/搜索有结果.html">
                    <p>
                        <span>1.时光流逝</span><span>hot</span>
                    </p>
                    <p>最美好的时光，慢慢流逝</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>
                        <span>2.官方回答</span><span>new</span>
                    </p>
                    <p>我用官方回答了她的废话</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>
                        <span>3.陈奕迅</span><span>hot</span>
                    </p>
                    <p>新版新歌听了么</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>
                        <span>4.海底</span><span>new</span>
                    </p>
                    <p>温柔的人会将你带离海底</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>5.关键字</p>
                    <p>新版新歌听了么</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>6.小布海</p>
                    <p>初音未来之歌声</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>7.喜欢你</p>
                    <p>我喜欢你的心</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>8.情人</p>
                    <p>气氛瞬间胜过</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>9.没有人</p>
                    <p>新版新歌听了么</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>10.Gfriend</p>
                    <p>初音未来之歌声</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>11.天下</p>
                    <p>一起感受张杰的壮志凌云</p>
                </a>
            </li>
        </ul>
    </main>
</body>
</html>