<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>歌曲播放</title>
    <link rel="stylesheet" href="../css/歌曲播放.css">
    <link rel="stylesheet" href="../assetes/iconfont/歌曲播放/font_0foedcqhjher/iconfont.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G.png" alt="">
            <img src="../assetes/image/wifi.png" alt="">
            <img src="../assetes/image/电池.png" alt="">
        </div>
    </header>
    <section class="head-box">
        <div class="head">
            <div>
                <a href="../views/发现.html">
                    <img src="../assetes/image/歌曲播放/箭头.png" alt="">
                </a>
            </div>
            <div>
                <img src="../assetes/image/歌曲播放/头像.png" alt="">
                <i class="iconfont icon-fenxiang"></i>
            </div>
        </div>
        <div class="center-ct">
            <p>眉间雪</p>
            <p>晴愔</p>
        </div>
    </section>
    <section id="ci"></section>
    <main>
        <a href="#ci">
            <section>
                <section class="dj">
                    <p></p>
                    <img src="../assetes/image/歌曲播放/打碟杆.png" alt="">
                </section>
                <section class="cd">
                    <img src="../assetes/image/歌曲播放/眉间雪.jpg" alt="">
                </section>
            </section>
        </a>
    </main>
    <section class="ci">
        <a href="#">
            <div>
                <p>是不是 每种感情都不容沉溺放肆</p>
                <p>交心淡如君子</p>
                <p>只道是 那些无关风花雪月的相思</p>
                <p>说来几人能知</p>
                <p>院内冬初昔年与你栽的桃树</p>
                <p>叶落早做尘土</p>
                <p>新雪来时 又将陈酒埋了几壶</p>
                <p>盼你归来后对酌</p>
                <p>穿过落雁修竹 看过月升日暮</p>
                <p>你说有一日总会名扬天下实现你抱负</p>
                <p>那时低头替你剑穗缠着新流苏</p>
                <p>心愿未听清楚</p>
                <p>还挂着流苏 是否应该满足</p>
                <p>也为你缝好冬衣寄去书信一两句叮嘱</p>
                <p>该庆幸至远至疏你我还未至陌路</p>
                <p>是时光从来残酷</p>
                <p>最害怕 酒肆闲谈时候听见你名字</p>
                <p>语气七分熟识</p>
                <p>回过神 笑问何方大侠姓名竟不知</p>
                <p>笑容有多讽刺</p>
                <p>斟酒独酌 细雪纷纷覆上眉目</p>
                <p>清寒已然入骨</p>
                <p>还忆最初 有你扯过衣袖轻拂</p>
                <p>笑说雪融似泪珠</p>
                <p>曾经相伴相护 说着初心不负</p>
                <p>想起某一日陪你策马同游闹市中漫步</p>
                <p>那时正逢扬州三月桃花铺满路</p>
                <p>神情难免恍惚</p>
                <p>江湖的尽头是否只剩孤独</p>
                <p>都怪我玲珑心思执念太过以尘网自缚</p>
                <p>前方太辽阔若问此去应去向何处</p>
                <p>把来路当做归途</p>
                <p>桃树下 那年落雪为你唱一段乐府</p>
                <p>信了人不如故</p>
                <p>只如今茫茫大雪之中等着谁回顾</p>
                <p>明知无人回顾</p>
                <p>谁能初心不负</p>
            </div>
        </a>
    </section>
    <footer>
        <div class="love">
            <a href="#"><img src="../assetes/image/歌曲播放/收藏.png" alt=""></a>
            <a href="#"><img src="../assetes/image/歌曲播放/下载.png" alt=""></a>
            <a href="#"><i class="iconfont icon-huatong"></i></a>
            <div>
                <a href="#">
                    <img src="../assetes/image/歌曲播放/评论.png" alt="">
                    <sup>99+</sup>
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="../assetes/image/歌曲播放/更多.png" alt="">
                </a>
            </div>
        </div>
        <div class="bar">
            <span>0:00</span>
            <div class="bar-box">
                <div class="bar-ct">
                    <div class="bar-move">
                        <p></p>
                    </div>
                </div>
            </div>
            <span>3:51</span>
        </div>
        <div class="loop">
            <a href="#"><i class="iconfont icon-xunhuan"></i></a>
            <a href="#"><i class="iconfont icon-shangyishou"></i></a>
            <a href="#"><b class="iconfont icon-zanting"></b></a>
            <a href="#"><i class="iconfont icon-xiayishou"></i></a>
            <a href="#"><img src="../assetes/image/歌曲播放/列表.png" alt=""></a>
        </div>
    </footer>




    <audio src="../assetes/晴愔 - 眉间雪(纯歌版).mp3" autoplay loop></audio>
</body>
</html>