<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>每日推荐</title>
    <link rel="stylesheet" href="../css/每日推荐.css">
</head>
<body>
    <section class="bg"></section>
    <section class="cover"></section>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G.png" alt="">
            <img src="../assetes/image/wifi.png" alt="">
            <img src="../assetes/image/电池.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <a href="../views/发现.html"><img src="../assetes/image/每日推荐/箭头.png" alt=""></a>
        </div>
        <div>
            <a href="../views/歌曲播放.html"><img src="../assetes/image/每日推荐/头像.png" alt=""></a>
        </div>
    </section>
    <nav>
        <p>
            <span>19</span><span>/12</span>
        </p>
        <p>
            <span>历史推荐</span><span>CVIP</span>
        </p>
        <div>
            <a href="#">
                <img src="../assetes/image/每日推荐/歌手1.png" alt="">
                <img src="../assetes/image/每日推荐/歌手2.png" alt="">
                <img src="../assetes/image/每日推荐/歌手3.png" alt="">
                <div>
                    <img src="../assetes/image/每日推荐/歌手箭头.png" alt="">
                </div>
            </a>
        </div>
    </nav>
    <main>
        <div class="all">
            <div>
                <a href="#">
                    <div>
                        <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                    </div>
                    <span>播放全部</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="../assetes/image/每日推荐/多选.png" alt="">
                    <span>多选</span>
                </a>
            </div>
        </div>
        <section>
            <div class="song">
                <div>
                    <a href="../views/歌曲播放.html">
                        <img src="../assetes/image/每日推荐/歌1.png" alt="">
                        <div>
                            <p>时光流逝</p>
                            <p><span>独家</span><span>Gfriend MV专辑</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="../views/歌曲播放.html">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="song">
                <div>
                    <a href="#">
                        <img src="../assetes/image/每日推荐/歌2.png" alt="">
                        <div>
                            <p>玻璃珠</p>
                            <p><span>SQ</span><span>Gfriend MV专辑</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="song">
                <div>
                    <a href="#">
                        <img src="../assetes/image/每日推荐/歌3.png" alt="">
                        <div>
                            <p>哈欠</p>
                            <p><span>Lovelyz出道歌曲</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="song">
                <div>
                    <a href="#">
                        <img src="../assetes/image/每日推荐/歌4.png" alt="">
                        <div>
                            <p>我要找到你</p>
                            <p><span>Gfriend MV专辑</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="song">
                <div>
                    <a href="#">
                        <img src="../assetes/image/每日推荐/歌1.png" alt="">
                        <div>
                            <p>时光流逝</p>
                            <p><span>独家</span><span>Gfriend MV专辑</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="song">
                <div>
                    <a href="#">
                        <img src="../assetes/image/每日推荐/歌2.png" alt="">
                        <div>
                            <p>玻璃珠</p>
                            <p><span>SQ</span><span>Gfriend MV专辑</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="song">
                <div>
                    <a href="#">
                        <img src="../assetes/image/每日推荐/歌3.png" alt="">
                        <div>
                            <p>哈欠</p>
                            <p><span>Lovelyz出道歌曲</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="song">
                <div>
                    <a href="#">
                        <img src="../assetes/image/每日推荐/歌4.png" alt="">
                        <div>
                            <p>我要找到你</p>
                            <p><span>Gfriend MV专辑</span></p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/每日推荐/播放黑.png" alt="">
                        </div>
                        <div>
                            <img src="../assetes/image/每日推荐/更多.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>