<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>登录</title>
    <link rel="stylesheet" href="../css/登录.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G.png" alt="">
            <img src="../assetes/image/wifi.png" alt="">
            <img src="../assetes/image/电池.png" alt="">
        </div>
    </header>
    <main>
        <section class="logo">
            <div>
                <img src="../assetes/image/登录/音乐.png" alt="">
            </div>
            <span>TZOF云音乐</span>
        </section>
        <section class="login">
            <p>176****6910</p>
            <p>中国移动提供认证服务</p>
            <a href="./发现.html">
                <input type="text" placeholder="一键登录">
            </a>
            <input type="password" placeholder="立即体验">
        </section>
        <div class="agreement">
            <input id="check" type="checkbox">
            <label for="check">同意</label>
            <div>
                <p>《服务条款》《隐私政策》《儿童隐私政策》</p>
                <p>《中国移动认证服务协议》</p>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <a href="#">
                <img src="../assetes/image/登录/微信.png" alt="">
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../assetes/image/登录/qq.png" alt="">
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../assetes/image/登录/微博.png" alt="">
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../assetes/image/登录/苹果.png" alt="">
                <span>通过Apple登录</span>
            </a>
        </div>
    </footer>
</body>
</html>