<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直播</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/直播.css">
    <link rel="stylesheet" href="../assetes/iconfont/直播/font_kbs6f62ia8g/iconfont.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="../views/发现.html"><img src="../assetes/image/排行榜/箭头.png" alt=""></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <sapn>听听</sapn>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <sapn>看看</sapn>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <sapn>派对</sapn>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <sapn>关注</sapn>
                        </a>
                    </li>
                </ul>
            </nav>
            <div>
                <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
            </div>
        </section>
        <section class="nav-img">
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <i class="iconfont icon-liaotian"></i>
                        </div>
                        <p>聊愈</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/直播/唱见.png" alt="">
                        </div>
                        <p>唱见</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="iconfont icon-aixin"></i>
                        </div>
                        <p>声音树洞</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/直播/古风.svg" alt="">
                        </div>
                        <p>古风</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../assetes/image/直播/更多.png" alt="">
                        </div>
                        <p>更多</p>
                    </a>
                </li>
            </ul>
        </section>
    </section>
    <main>
        <div>
            <div>
                <span>每天叫你起床…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>来我的直播看看…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>天黑了，我害怕…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>治愈你的声音…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>我的爱只需要你…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>我们的演唱会直播…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>每天叫你起床…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>来我的直播看看…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>天黑了，我害怕…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>治愈你的声音…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>我的爱只需要你…</span>
                <span>10万</span>
            </div>
        </div>
        <div>
            <div>
                <span>我们的演唱会直播…</span>
                <span>10万</span>
            </div>
        </div>
    </main>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
</body>
</html>