<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精选歌单站</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/精选歌单站.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <a href="../views/发现.html"><img src="../assetes/image/排行榜/箭头.png" alt=""></a>
        </div>
        <div>
            <span>精选歌单站</span>
        </div>
        <div>
            <a href="../views/歌曲播放.html"><img src="../assetes/image/发现/头像.png" alt=""></a>
        </div>
    </section>
    <main>
        <section class="main-bottom">
            <ul>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选1.png" alt="">
                        <p>今天和喜欢的人说话了么</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选2.png" alt="">
                        <p>最懂你的华语歌曲推荐</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选3.png" alt="">
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选4.png" alt="">
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选5.png" alt="">
                        <p>今天和喜欢的人说话了么</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选6.png" alt="">
                        <p>最懂你的华语歌曲推荐</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选7.png" alt="">
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选1.png" alt="">
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选2.png" alt="">
                        <p>今天和喜欢的人说话了么</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选3.png" alt="">
                        <p>最懂你的华语歌曲推荐</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选4.png" alt="">
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选5.png" alt="">
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选6.png" alt="">
                        <p>今天和喜欢的人说话了么</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选7.png" alt="">
                        <p>最懂你的华语歌曲推荐</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选1.png" alt="">
                        <p>令人心动的宝藏歌曲，每日更新</p>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选2.png" alt="">
                        <p>DNF背景音乐下载（新旧版本都有）</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选3.png" alt="">
                        <p>今天和喜欢的人说话了么</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assetes/image/精选歌单站/精选4.png" alt="">
                        <p>最懂你的华语歌曲推荐</p>
                    </a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>