<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>编辑完成</title>
    <link rel="stylesheet" href="../css/编辑完成.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G.png" alt="">
            <img src="../assetes/image/wifi.png" alt="">
            <img src="../assetes/image/电池.png" alt="">
        </div>
    </header>
    <section class="top-nav">
        <section class="head">
            <div>
                <a href="../views/发视频.html">
                    <span>取消</span>
                </a>
            </div>
            <div>
                <span>最近项目</span>
            </div>
            <div>
                <a href="../views/发布成功.html">
                    <span>完成</span>
                </a>
            </div>
        </section>
    </section>
    <main>
        <div>
            <img src="../assetes/image/编辑完成/完成.jpeg" alt="">
        </div>
    </main>
    <footer>
        <ul>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
            <li><img src="../assetes/image/编辑完成/完成.jpeg" alt=""></li>
        </ul>
    </footer>
    <aside>
        <span>滑动选择一张封面</span>
    </aside>
</body>
</html>