<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/视频.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_m36hagnu7n9/iconfont.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_xfbjz928ld9/iconfont.css">
    <link rel="stylesheet" href="../assetes/iconfont/直播/font_hzt0jzmfss5/iconfont.css">
    <link rel="stylesheet" href="../assetes/iconfont/font_hifbwlmkjlr/iconfont.css">
</head>
<body>
    <header>
        <span>8:00</span>
        <div>
            <img src="../assetes/image/4G黑.png" alt="">
            <img src="../assetes/image/wifi黑.png" alt="">
            <img src="../assetes/image/电池黑.png" alt="">
        </div>
    </header>
    <section class="head">
        <div>
            <a href="#"><i class="iconfont icon-maikefeng"></i></a>
        </div>
        <div>
            <a href="../views/搜索有结果.html">
                <i class="iconfont icon-fangdajing"></i>
                <input type="text" placeholder="搜最近很火哦">
            </a>
        </div>
        <div>
            <a href="../views/歌曲播放.html"><img src="../assetes/image/视频/头像.png" alt=""></a>
        </div>
    </section>
    <nav>
        <ul>
            <li>
                <a href="#tuijian">
                    <sapn>推荐</sapn>
                </a>
            </li>
            <li>
                <a href="#look">
                    <sapn>LOOK直播</sapn>
                </a>
            </li>
            <li>
                <a href="#young">
                    <sapn>年少有为</sapn>
                </a>
            </li>
            <li>
                <a href="#young">
                    <sapn>饭圈营业</sapn>
                </a>
            </li>
            <li>
                <a href="#young">
                    <sapn>翻唱</sapn>
                </a>
            </li>
            <li>
                <a href="#young">
                    <sapn>舞蹈</sapn>
                </a>
            </li>
        </ul>
    </nav>
    <!-- 空元素 ,用于target时可选择到main-all并且其移动位置 -->
    <aside id="tuijian"></aside>
    <aside id="look"></aside>
    <aside id="young"></aside>
    <section class="main-all">
        <main class="main1">
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>1122</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>《Moom》天空是蔚蓝色，窗外是淡淡的回忆</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/头像1.jpeg" alt="">
                            <span>木子</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>1122</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>我还要生活，所以我不可以不快乐</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/头像2.jpeg" alt="">
                            <span>Gfriend</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>5666</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>静静地听时光的流逝</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/头像3.jpeg" alt="">
                            <span>Lx</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>5666</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>最美好的时光</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/纯白.png" alt="">
                            <span>Gfriend</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>5666</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>每一首都是一个个美丽的故事会</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/头像5.jpeg" alt="">
                            <span>Gfriend</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
        </main>
        <section class="look-ct">
            <div class="look-top">
                <a href="#">
                    <div>
                        <p>明星榜</p>
                        <div>
                            <img src="../assetes/image/视频/明星头像.png" alt="">
                            <img src="../assetes/image/视频/明星头像.png" alt="">
                            <img src="../assetes/image/视频/明星头像.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <p>我的关注</p>
                        <div>
                            <img src="../assetes/image/视频/音乐.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="look-img">
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>《Moom》天空是蔚蓝色</p>
                        <p>Gill_木子</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>一头猫也要努力前行</p>
                        <p>I_的猫不见了</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>《Moom》天空是蔚蓝色</p>
                        <p>Gill_木子</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>一头猫也要努力前行</p>
                        <p>I_的猫不见了</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>《Moom》天空是蔚蓝色</p>
                        <p>Gill_木子</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>一头猫也要努力前行</p>
                        <p>I_的猫不见了</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>《Moom》天空是蔚蓝色</p>
                        <p>Gill_木子</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div>
                            <span>脱口秀</span>
                            <p>
                                <img src="../assetes/image/视频/人气.png" alt="">
                                <span>4万</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>一头猫也要努力前行</p>
                        <p>I_的猫不见了</p>
                    </div>
                </a>
            </div>
        </section>
        <main class="main2">
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>1122</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>《Moom》天空是蔚蓝色，窗外是淡淡的回忆</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/加载头像.png" alt="">
                            <span>木子</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>1122</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>我还要生活，所以我不可以不快乐</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/加载头像.png" alt="">
                            <span>Gfriend</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>5666</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>静静地听时光的流逝</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/加载头像.png" alt="">
                            <span>Lx</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>5666</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>最美好的时光</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/加载头像.png" alt="">
                            <span>Gfriend</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
            <section>
                <div>
                    <a href="#">
                        <div class="bgi"></div>
                        <div class="bgc">
                            <div>
                                <img src="../assetes/image/视频/箭头白.png" alt="">
                            </div>
                            <div>
                                <p><img src="../assetes/image/视频/播放箭头.png" alt=""><span>5666</span></p>
                                <p><i class="iconfont icon-zhuzhuangtu"></i><span>01:45</span></p>
                            </div>
                        </div>
                        <p>每一首都是一个个美丽的故事会</p>
                    </a>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="../assetes/image/视频/加载头像.png" alt="">
                            <span>Gfriend</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p><i class="iconfont icon-dianzan"></i><sup>99</sup></p>
                        </a>
                        <a href="#">
                            <p><i class="iconfont icon-pinglun"></i><sup>99+</sup></p>
                        </a>
                    </div>
                </div>
            </section>
            <h1></h1>
        </main>
    </section>
    <section class="load">
        <img src="../assetes/image/加载旋转.svg" alt=""><span>正在加载</span>
    </section>
    <footer>
        <section class="footer-ct">
            <ul>
                <a href="../views/发现.html"><li><img src="../assetes/image/发现黑.png" alt=""></li><span>发现</span></a>
                <a href="../views/视频.html"><li><i class="iconfont icon-shipin"></i></li><span>视频</span></a>
                <a href="../views/我的已登录.html"><li><img src="../assetes/image/我的.png" alt=""></li><span>我的</span></a>
                <a href="../views/云村.html"><li><img src="../assetes/image/云村.png" alt=""></li><span>云村</span></a>
                <a href="../views/账号已登录.html"><li><img src="../assetes/image/账号.png" alt=""></li><span>账号</span></a>
            </ul>
        </section>
    </footer>
</body>
</html>